---
import { ViewTransitions } from "astro:transitions";
import Layout from "~/layouts/Layout.astro";
import { GoBack } from "~/components/Mdx";
---

<Layout title="About me - wiktrek.xyz">
  <div class="text-center justify-center items-center">
    <GoBack />
    <div class="font-normal text-2xl">
      <a>Hi, I'm <a class="font-bold">wiktrek</a>.I enjoy programming</a>
    </div>
  </div>
</Layout>

<ViewTransitions />
