---
import { ViewTransitions } from "astro:transitions";
import Layout from "~/layouts/Layout.astro";
import { GoBack } from "~/components/Mdx";
---

<Layout title="About me - wiktrek.xyz">
  <div class="text-center justify-center items-center">
    <GoBack />
    <div class="">
      <a>Hi I'm wiktrek</a>
    </div>
  </div>
</Layout>

<ViewTransitions />
