---
import { Icons } from "~/components/NavBar";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="skills - wiktrek.xyz">
  <div
    class="justify-center
    text-center
    items-center
    font-mono
    text-2xl
    pt-4
    text-ring
    overflow-x-hidden"
  >
    <p class="text-primary">Hi, I'm wiktrek and I enjoy writing code.</p>
    <p>My links:</p>
    <Icons />
  </div>
</Layout>
