---
import { Icons } from "~/components/NavBar";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="skills - wiktrek.xyz">
  <div
    class="justify-center
    flex
    font-mono
    text-2xl
    pt-4
    text-ring
    overflow-x-hidden"
  >
    <div class="w-[36rem]">
      <p class="text-text">
        I'm a highschool student from Poland studying computer programming. I
        love writing code and building stuff.
      </p>
      <a href="/cv.txt">My very real CV</a>
      <p>My links:</p>
      <Icons />
    </div>
  </div>
</Layout>
