---
import NoNav from "~/layouts/NoNav.astro";

export const prerender = false;
let { slug } = Astro.params;
const formattedSlug = slug
  ?.replaceAll("%20", " ")
  .replaceAll("%3F", "?")
  .replaceAll('"', "") as string;
console.log(formattedSlug);
---

<NoNav title={formattedSlug + " - wiktrek.xyz"}>
  <div class="justify-center flex text-2xl pt-2">
    <div class="flex-col">
      <p class="w-[36rem]">
        "{formattedSlug}" - just google it
        <a
          class="underline"
          href=`https://letmegooglethat.com/?q=${formattedSlug}`
          >or let me google it for you</a
        >
      </p>
      <p class="mt-4">Why is Googling important? Let me ask chatGPT.</p>
      <p class="text-base w-[36rem]">
        Googling is essential because it gives instant access to information,
        helping with learning, productivity, and decision-making. It saves time,
        solves problems, and allows fact-checking to avoid misinformation.
        Whether for work, studies, or daily life, mastering search skills
        improves efficiency and critical thinking in the digital age. - ChatGPT
      </p>
    </div>
  </div>
  <footer class="bottom-4 w-full text-center fixed text-lg">
    <a class="underline" href="/just/generate">Generate your own</a>
  </footer>
</NoNav>
