---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="just google it - wiktrek.xyz">
  <div class="justify-center flex">
    <div class="flex-col w-[36rem] text-xl">
      <p class="text-3xl">Please just use google!</p>
      <p>
        What's "just google it"? It's a simple website that responds to your
        question with "- just google it"
      </p>
      <p class="text-3xl pt-3">Example:</p>
      <p class="">"How do I ...? - just google it"</p>
      <p>
        Instead of responding like this you can just send them a "just google
        it" link
      </p>
      <p class="text-3xl pt-3">Why?</p>
      <p>
        It's so annoying when someone wastes both my time and their own when
        they could just use Google.
      </p>
      <a href="/just/generate" class="underline text-xl"> Generate your own!</a>
    </div>
  </div>
</Layout>
