---
import Layout from "~/layouts/Layout.astro";
import FeaturedPosts from "~/components/FeaturedPosts.astro";
---

<Layout title="Blog posts - wiktrek.xyz">
  <main class="h-screen text-center">
    <FeaturedPosts />
  </main>
</Layout>
