---
import Layout from "~/layouts/Layout.astro";
import FeaturedPosts from "~/components/FeaturedPosts.astro";
import { GoBack } from "~/components/Mdx";
---

<Layout title="Blog posts - wiktrek.xyz">
  <main class="h-screen text-center">
    <GoBack />
    <FeaturedPosts />
  </main>
</Layout>
