.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.calc {
  width: 50%;
  padding-top: 10rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.grid {
  display: grid;
  grid-gap: 0.2rem;
  background: rgb(49, 47, 47);
  grid-template-columns: auto auto auto auto;
}

.grid button {
  font-size: 2rem;
}
.screen {
  display: grid;
  grid-template-columns: 1fr 3rem 3rem;
}
.screen a {
  font-size: 2rem;
  width: 100%;
  background-color: rgb(49, 47, 47);
}
.screen button {
  font-size: 2rem;
  width: 100%;
}
