@import "tailwindcss";
@config "../../tailwind.config.cjs";
@layer base {
  :root {
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --radius: 0.5rem;
    color-scheme: dark;
    /*  */
    --ring: hsl(212.7 26.8% 83.9);
    --text: hsl(0, 3%, 93%);
    --background: hsl(0, 0%, 7%);
    --primary: hsl(0, 17%, 72%);
    --secondary: hsl(0, 24%, 32%);
    --accent: hsl(0, 30%, 55%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
body {
  -webkit-overflow-scrolling: touch;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--primary)) transparent;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--primary));
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  /* background: repeating-linear-gradient(
    45deg,
    oklch(var(--s)),
    oklch(var(--s)) 5px,
    oklch(var(--p)) 5px,
    oklch(var(--p)) 10px
  ); */
  border-radius: 14px;
  border: 3px solid hsl(var(--primary));
}
