.container {
  text-align: center;
  align-items: center;
  font-size: 1.3rem;
}
.question {
  background-color: #191f29;
  border-radius: 3rem;
  width: 100%;
}

.createbutton {
  font-size: 2rem;
  height: 3rem;
  width: 20rem;
  background-color: #333e46;
  border-radius: 3rem;
  border-color: transparent;
  padding-bottom: 2rem;
}
.questions_box {
  display: grid;
  grid-column: auto;
  grid-template-columns: 1fr;
}
