.container {
  font-size: 1.6rem;
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.container button {
  border-radius: 15px;
  border-color: transparent;
  width: 50vh;
  font-size: 1.6rem;
  height: 2.8rem;
}
