.container {
  align-items: center;
  text-align: center;
}
.center {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1.3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 100%;
}
.slugs {
  background-color: #34342f;
}
.slug {
  padding: 0.5rem;
  font-size: 1.5rem;
  height: 3rem;
  width: 15rem;
  color: white;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  border-color: #00ffff;
  background-color: #34342f;
}
.slug button {
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border-color: blue;
}
@media screen and (max-device-width: 60rem) {
  .slug {
    width: 20rem;
  }
  .slugs {
    padding-left: 2rem;
    padding-right: 2rem;
    grid-column: auto;
    grid-row: auto;
  }
}
