---
import Layout from '../layouts/Layout.astro';
const path = String(Astro.url)
---

<Layout title="404">
    <main class="justify-center text-center items-center text-5xl h-screen py-16">
    <p>404: Not found</p>
    <p>Path: {path.replace("https://wiktrek.xyz", "").replace("http://localhost:3000", "")}</p>    
    </main>
</Layout>