---
import Layout from "~/layouts/Layout.astro";
import Projects from "~/components/Projects.astro";
import { ViewTransitions } from "astro:transitions";
  import About from "~/components/About.tsx";
---

<Layout title="wiktrek.xyz">
  <main
    class="justify-center text-center items-center font-mono text-2xl pt-4 text-ring select-none overflow-x-hidden"
  >
    <About client:idle />

    <Projects />
  </main>
  <ViewTransitions />
</Layout>
