---
import Layout from "~/layouts/Layout.astro";
import Link from "~/components/Links.astro";
import Projects from "~/components/Projects.astro";
import Skills from "~/components/Skills.astro";
import { ViewTransitions } from "astro:transitions";
---

<Layout title="wiktrek.xyz">
  <main
    class="justify-center text-center items-center font-mono text-2xl pt-4 text-ring"
  >
    <Link />
    <Projects />
    <Skills />
  </main>
  <ViewTransitions />
</Layout>
