---
import Layout from "~/layouts/Layout.astro";
import Three from "~/components/three";
---
<Layout title="wiktrek.xyz">
    <main class="w-full h-[100vh]">
        <Three client:only/>
    </main>
</Layout>

