---
import Layout from "~/layouts/Layout.astro";
import Projects from "~/components/Projects.astro";
import About from "~/components/About";
import FeaturedPosts from "~/components/FeaturedPosts.astro";
---

<Layout title="wiktrek.xyz">
  <main
    class="justify-center text-center items-center font-mono text-xl pt-4 text-ring overflow-x-hidden flex flex-col h-[400vh] md:h-[320vh] md:text-2xl"
  >
    <About client:idle />
    <Projects />
    <FeaturedPosts />
  </main>
</Layout>
