---
---

<section id="about" class="bg-transparent py-52 bg-[#161718] h-[80vh] ">
    <h1 class="text-5xl font-bold">About</h1>
    <p class=" text-4xl text-[#fbfdfe] py-4">I like building shit.</p>
</section>