---
---

<section id="about" class="bg-transparent bg-[#05080a] h-[80vh] py-26 ">
    <h1 class="text-5xl font-bold">About</h1>
    <p class=" text-4xl text-[#fbfdfe] py-4">I like building shit.</p>
</section>

