---

---

<section
  id="about"
  class="bg-transparent bg-[#05080a] h-[80vh] py-26 text-primary"
>
  <h1 class="text-5xl font-bold text-ring">About</h1>
  <p class="text-4xl py-4">I like building shit.</p>
</section>
