---
export interface Data {
  title: string;
  second_title: string;
  description: string;
  span: string;
  link?: string;
  image?: string;
}
const data: Data[] = [
  {
    description: "My website with other cool projects",
    span: "project.wiktrek.xyz",
    second_title: "project.wiktrek.xyz",
    title: "project",
    link: "https://project.wiktrek.xyz/",
  },
  {
    description: "Simple discord bot",
    span: "My first programming project",
    second_title: "My discord bot",
    title: "wiktrekbot",
    link: "https://github.com/wiktrek/wiktrekbot",
  },
  {
    description: "Create polls",
    span: "poll app",
    second_title: "project.wiktrek.xyz",
    title: "poll app",
    link: "https://project.wiktrek.xyz/poll",
  },
  {
    description: "Create short links",
    span: "Cool project",
    second_title: "Link shortener",
    title: "link shortener",
    link: "https://project.wiktrek.xyz/url",
  },
  {
    description: "Repository with many projects made in rust",
    span: "made in rust btw",
    second_title: "Small rust projects",
    title: "rust",
    link: "https://github.com/wiktrek/rust",
  },
  {
    description: "Simple game",
    span: "made in rust with bevy btw",
    second_title: "Snake made with bevy",
    title: "snake",
    link: "https://github.com/wiktrek/games/tree/main/snake",
  },
  {
    title: "just google it",
    description: 'website that responds with "just google it"',
    span: "just google it",
    second_title: "just google it",
    link: "https://wiktrek.xyz/just/",
  },
];
---

<section
  id="projects"
  class="flex h-[100vh] text-4xl justify-center text-center items-center flex-col"
>
  <h1 class="text-5xl">Projects</h1>
  <div class="text-text font-normal text-xl text-left">
    {
      data.map((props) => (
        <p class="flex">
          <a
            class="text-primary hover:underline"
            href={props.link}
            target="_blank"
          >
            {props.title.trim()}
          </a>
          :{props.description}
        </p>
      ))
    }
  </div>
</section>
