---
type Category = "frontend" | "backend" | "other";
interface Skill {
  name: string;
  category: Category;
}
import Skill from "~/components/Skill";
const skills: Skill[] = [
  {
    name: "react",
    category: "frontend",
  },
  {
    name: "nextjs",
    category: "frontend",
  },
  {
    name: "rust",
    category: "backend",
  },
  {
    name: "typescript",
    category: "frontend",
  },
  {
    name: "svelte",
    category: "frontend",
  },
  {
    name: "tailwind",
    category: "frontend",
  },
  {
    name: "node",
    category: "backend",
  },
  {
    name: "git",
    category: "other",
  },
  {
    name: "astro",
    category: "frontend",
  },
  {
    name: "vercel",
    category: "other",
  },
  {
    name: "vitejs",
    category: "frontend",
  },
];
---

<script>
  const buttons = document.querySelectorAll("button.button-class");
  const skills = document.querySelectorAll("div.skill");
  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const category = button.id.split("-")[1];
      reset();
      button.classList.add("text-primary");
      if (category == "all") {
        show_all();
      } else {
        hide_all();
        show_category(category);
      }
    });
  });
  function reset() {
    buttons.forEach((b) => {
      b.classList.remove("text-primary");
    });
  }
  function show_category(category: string) {
    skills.forEach((skill) => {
      if (skill.id == category) skill.classList.remove("hidden");
    });
  }
  function show_all() {
    skills.forEach((skill) => {
      skill.classList.remove("hidden");
    });
  }
  function hide_all() {
    skills.forEach((skill) => {
      skill.classList.add("hidden");
    });
  }
</script>

<div class="h-96">
  <section id="skills">
    <p class="text-5xl">Skills</p>
    <div>
      <button
        class="p-4 bg-primary-foreground rounded-xl button-class text-primary"
        id="button-all"
      >
        all</button
      >

      <button
        class="p-4 bg-primary-foreground rounded-xl button-class"
        id="button-frontend">frontend</button
      >
      <button
        class="p-4 bg-primary-foreground rounded-xl button-class"
        id="button-backend">backend</button
      >
      <button
        class="p-4 bg-primary-foreground rounded-xl button-class"
        id="button-other">other</button
      >
    </div>
    <div class="flex justify-center gap-2 pt-6">
      {
        skills.map((s) => (
          <Skill
            category={s.category}
            text={s.name}
            icon={s.name}
            client:idle
          />
        ))
      }
    </div>
  </section>
</div>

<!-- <div><div></div></div> -->
