---
import Skill from "~/components/Skill";
const skills = [
  "react",
  "nextjs",
  "rust",
  "typescript",
  "svelte",
  "git",
  "node",
  "tailwind",
];
---

<div class="h-96">
  <p class="text-5xl">Skills</p>
  <div class="flex justify-center gap-2">
    {skills.map((s) => <Skill text={s} icon={s} client:idle />)}
  </div>
</div>

<!-- <div><div></div></div> -->
