---
import Layout from "~/layouts/Layout.astro";
---

<Layout title="skills - wiktrek.xyz">
  <div
    class="justify-center
    text-center
    items-center
    font-mono
    text-2xl
    pt-4
    text-ring
    select-none
    overflow-x-hidden"
  >
    <p class="text-3xl text-primary">My most important skills</p>
    <ul class="text-2xl">
      <li>rust</li>
      <li>typescript</li>
      <li>nextjs</li>
      <li></li>
    </ul>
  </div>
</Layout>
