---
import type { CollectionEntry } from "astro:content";
import "../styles/global.css";
import { getDate } from "../utils/date";
import NavBar from "~/components/NavBar";
import { ClientRouter } from "astro:transitions";
type Props = CollectionEntry<"blog">["data"];
const { title, description, publishedAt, img, keywords } = Astro.props;
let image_exists = false;
if (img !== undefined && img !== "") {
  image_exists = true;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content="wiktrek" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} - wiktrek.xyz</title>
  <ClientRouter />
  </head>
  <body>
    <main class="bg-background">
      <NavBar client:only="react"/>
      <article
        class="prose prose-sm sm:prose-lg lg:prose-base xl:prose-md 2xl:prose-lg prose-invert mx-auto"
      >
        <slot class="" />
        <div class="text-sm">
          <p>
            Written by <a href="https://github.com/wiktrek">wiktrek</a>
          </p>
          {getDate(publishedAt)}
        </div>
      </article>
    </main>
  </body>
</html>
