---
import type { CollectionEntry } from 'astro:content';
import { getDate} from '../utils/date'
type Props = CollectionEntry<'blog'>['data'];

const { title, description, publishedAt, img } = Astro.props;
let image_exists = false;
if (img !== undefined && img !== "" ) {
	image_exists = true 
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<title>{title} - wiktrek.xyz</title>
	</head>


	<body class="bg-[#020403] justify-center text-center items-center text-[#fbfdfe]">
		<main>
			<article class="mx-auto w-[50rem] h-screen text-2xl">
				<slot />
			</article>
		</main>
	</body>
</html>