---
import type { CollectionEntry } from 'astro:content';
import { getDate} from '../utils/date'
type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, img } = Astro.props;
let image_exists = false;
if (img !== undefined) {
	image_exists = true 
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<title>{title} - wiktrek.xyz</title>
	</head>


	<body class="bg-[#0D0A0B] justify-center text-center items-center text-[#f4f4ee] text-2xl">
		
		<main>
			<article>
				{image_exists && <img width={720} height={360} src={img} alt="" />}
				<h1 class=" text-3xl text-[#FA9F42] ">{title}</h1>
				{
					updatedDate && (
						<div class="">Last updated: {getDate(updatedDate)}</div>
					)
				}
				<slot class="" />
			</article>
		</main>
	</body>
</html>