---
import "../styles/global.css";
export interface Props {
  title: string;
}
const { title } = Astro.props;
import NavBar from "~/components/NavBar";
import { Toaster } from "~/components/ui/toaster";
import { ClientRouter } from "astro:transitions";
---

<html lang="en" translate="no">
  <head>
    <meta charset="UTF-8" /><meta
      name="description"
      content="wiktrek's website"
    />
    <meta name="msvalidate.01" content="BDA24E1E4A734EE0DC05033EFEDA63E5" />
    <meta
      name="keywords"
      content="wiktrek, wiktrek.xyz, wiktrek website, wiktor, wiktorek, xyz, wiktrek xyz, wiktor, wiktorek, wiktorek website, wiktor website, wiktrek.com, wiktrek.pl, wiktrek.org, wiktrek.net,software,programming,next.js,react,rust,typescript"
    />
    <meta name="viewport" content="width=device-width" /><link
      rel="icon"
      href="/favicon.svg"
    />
    <link rel="sitemap" href="/sitemap.xml" /><meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="font-bold bg-background">
    <NavBar client:only="react" />
    <slot />
    <Toaster client:idle />
  </body>
</html>
